html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #ced1d5;
  background-color: #0a192f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8



-colors
primary-color: #0a192f;
secondary color : #4ec7b0;

shades light
#ced1d5
*/

.container {
  max-width: 120rem;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-small {
  max-width: 90rem;
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section {
  transition: 2s;
}
.hidden {
  opacity: 0;
  /* transform: translateY(8rem); */
}

.btn:link,
.btn:visited {
  border: 2px solid #4ec7b0;
  padding: 0.7rem 1rem;
  background-color: #0a192f;
  /* margin-top: 1rem; */
  text-decoration: none;
  font-size: 1.4rem;
  color: #4ec7b0;
  transition: 0.3s all;
}
.btn:hover {
  background-color: rgb(78, 199, 176, 0.1);
}
.cv-btn {
  display: inline-block;
  margin-top: 2rem;
}

.header {
  /* margin-top: 10rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -colors
primary-color: #0a192f;
secondary color : #4ec7b0;

shades light
#ced1d5 of white
#83d8c8 of seconday */
.nav-num {
  display: inline-block;
  color: #4ec7b0;
  font-family: "Fira Code", monospace;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 1.5rem;
  opacity: 0;
  transition: 1s all;
  /* border: 2px solid #3e9f8d;
  padding: 0 3rem;
  border-radius: 5rem; */
}
.list-item {
  padding: 2rem;
}
.nav-link {
  transition: 0.3s all;
}
.nav-link:hover {
  color: #4ec7b0;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}

.hero-content {
  display: flex;
  padding: 15rem;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 140rem;
  margin: auto;
  height: calc(100vh - 8.6rem);
}
.hero-btn {
  align-self: flex-start;
  border: 2px solid #4ec7b0;
  padding: 1.5rem 6rem;
  background-color: #0a192f;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.4rem;
  color: #4ec7b0;
  transition: 0.3s all;
}
.hero-btn:hover {
  background-color: rgb(78, 199, 176, 0.1);
}
.hero-section {
  position: relative;
  opacity: 0;
  transition: 1s all;
}
.tag {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #4ec7b0;
}
.heading-primary {
  font-size: 5.2rem;
  /* color: #4ec7b0; */
}
.heading-primary2 {
  font-size: 5.2rem;
  opacity: 0.5;
}
.heading-secondary {
  font-size: 3rem;
}
.heading-tertiary {
  font-size: 1.4rem;
}

.subheading {
  font-size: 2rem;
}

.hero-icon {
  font-size: 5rem;
  position: absolute;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.hero-icon-1 {
  top: 20%;
  left: 75%;
  animation: rotation 2s infinite linear;
}
.hero-icon-2 {
  left: 68%;
  top: 30%;
}
.hero-icon-3 {
  left: 69%;
  top: 43%;
}
.hero-icon-4 {
  left: 75%;
  top: 53%;
  animation: rotation 2s infinite linear;
}
.hero-icon-5 {
  left: 82%;
  top: 30%;
}
.hero-icon-6 {
  left: 82%;
  top: 43%;
}
.hero-icon-7 {
  left: 75%;
  top: 37%;
}

/* ABOUT section */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.about-content {
  padding-right: 10rem;
  /* width: 50%; */
}

.about-img {
  width: 80%;
  border-radius: 50rem;
  transition: 0.5s all;
}

.about-img-col {
  display: flex;
  justify-content: center;
}
.about-text {
  font-size: 1.4rem;
  line-height: 1.8;

  /* word-spacing: 0.2rem; */
  /* letter-spacing: 0.035rem; */
  font-family: "Roboto Mono", monospace;
  margin-top: 2rem;
}

.skills-content {
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: normal;
}

.skill-heading {
  margin-right: 1rem;
  width: 15rem;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  width: 80%;
}
.animation2 {
  justify-self: right;
  text-align: center;
}
.tech-animation {
  opacity: 1;
  width: 80%;
  /* margin-top: 10rem; */
}

.skill-line {
  width: 30rem;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: #4ec7b0;
  margin-top: 1rem;
}
.skill-line-bg {
  background-color: #000000;
  width: 30rem;
}
.skill-line-1,
.skill-line-2,
.skill-line-4,
.skill-line-6 {
  width: 29rem;
}
.skill-line-3,
.skill-line-5 {
  width: 28rem;
}

.skill-line-2 {
  background-color: rgb(190, 190, 4);
}
.skill-line-3 {
  background-color: #d26cd5;
}
.skill-line-5 {
  background-color: #ff2253;
}
.skills-animator .skill-animation {
  animation: mymove 1.3s ease-in-out;
}
.skills-animator .skill-animation2 {
  animation: mymove2 1.3s ease-in-out;
}

@keyframes mymove {
  0% {
    width: 0rem;
  }
  100% {
    width: 28rem;
  }
}
@keyframes mymove2 {
  0% {
    width: 0rem;
  }
  100% {
    width: 29rem;
  }
}

.projects {
  overflow: hidden;
}

/* ////////////////////////
    PORTFOLIO SECTION 
///////////////////////*/

.h-portfolio {
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translateX(-50%);
}
.portfolio-section {
  position: relative;
  overflow: hidden;
}

.flex {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.temp {
  width: 100%;
}
.project-item {
  background-image: linear-gradient(to right bottom, #173c35, #0a192f);
  max-width: 60%;
  border-radius: 2rem;
  overflow: hidden;
  margin: auto;
  position: absolute;
  box-shadow: rgb(96, 205, 184, 50%) 15px 15px;
  transition: 1s all;
  transform: scale(2);
}
.project-item-1 {
  transform: scale(2);
}
/* primary #0a192f */

.project-image-container {
  background-size: cover;
  width: 60%;
  height: 40rem;
  transition: 0.5s all;
  overflow: hidden;
}

.about-opacity {
  opacity: 0.7;
}

.scale {
  transform: scale(1.025);

  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(78, 199, 176, 0.12) 0px -12px 30px,
    rgba(78, 199, 176, 0.12) 0px 4px 6px; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  filter: saturate(90%);
}

.project-img-1 {
  background-image: url("./images/pig.png");
  background-position: center;
}
.project-img-2 {
  background-image: url("./images/forkify.png");
  background-position: center;
}

.project-img-3 {
  background-image: url("./images/bankist-app.png");
  background-position: left;
}
.project-img-4 {
  background-image: url("./images/bankist-site.png");
  background-position: right;
}
.opacity {
  opacity: 0.5;
}

.project-text {
  width: 35%;
  font-size: 1.4rem;
  line-height: 1.6;
  text-align: left;
  margin-top: 1rem;
  padding: 2rem;

  /* padding: 2rem; */
}
.visit-btn {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: none;
  color: #4ec7b0;
  border-bottom: 1px solid #4ec7b0;
}
.projects {
  position: relative;
}
.left {
  position: absolute;
  top: 50%;
  left: 20%;
  font-size: 5rem;
  transform: translateY(-50%);
  color: #4ec7b0;
}
.right {
  position: absolute;
  top: 50%;
  right: 20%;
  font-size: 5rem;
  transform: translateY(-50%);
  color: #4ec7b0;
}
.left:hover,
.right:hover {
  cursor: pointer;
}
/* ////////////////////////
    EXPERIENCE SECTION 
///////////////////////*/
.experience {
  text-align: center;
}

.experience-img {
  margin-top: 5rem;
  width: 20%;
}

/* ////////////////////////
    CONTACT SECTION 
///////////////////////*/
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.hello {
  display: flex;
  align-self: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}
.contact-text {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 0 30rem;
  /* font-family: "Roboto Mono", monospace; */
}

/* ////////////////////////
    FOOTER SECTION 
///////////////////////*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem;
  height: 3rem;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: #4ec7b0;
}
.footer-icons {
  list-style: none;
  display: none;
}
.footer-icons a {
  color: #ced1d5;
  font-size: 2.4rem;
  margin: 1rem;
}

.footer-logo-text {
  font-size: 1.4rem;
}
.footer-logos {
  font-size: 2.4rem;
  color: #4ec7b0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.footer-text {
  font-size: 1.4rem;
  padding-bottom: 2rem;
}

/* onload */

#container {
  color: #999;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: bold;
  padding-top: 200px;
  position: fixed;
  /* width: 100%; */
  left: 50%;
  transform: translateX(-50%);
  bottom: 45%;
  display: block;
}

#flip {
  height: 4rem;
  overflow: hidden;
}

#flip > div > div {
  font-weight: 800;
  color: #0a192f;
  /* padding: 0px 2px; */
  height: 4.5rem;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 3s linear;
}

/* -colors
primary-color: #0a192f;
secondary color : #4ec7b0;

shades light
#ced1d5 */

/* #flip div  */
.one {
  background: #4ec7b0;
}
/* #flip div:first-child div */
.two {
  background: #4ec7b0;
}
/* #flip div:last-child div */
.three {
  background: #4ec7b0;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  33% {
    margin-top: -180px;
  }

  66% {
    margin-top: -90px;
  }

  100% {
    margin-top: 0px;
  }
}
.logo {
  margin-top: -2rem;
  font-size: 5.2rem;
}
.logo p {
  display: inline-block;
  opacity: 0.7;
  margin: -0.7rem;
  color: white;
}
.web-container {
  display: flex;
  align-items: flex-end;
}

/* //BLINK animation */

.logo > * {
  /* display: inline-block; */
  animation-name: appear;
  animation-duration: 0.01s;
  animation-fill-mode: both;
}
.logo > *:nth-of-type(1) {
  animation-delay: 1s;
}
.logo > *:nth-of-type(2) {
  animation-delay: 1.4s;
}
.logo > *:nth-of-type(3) {
  animation-delay: 1.7s;
}
.logo > *:nth-of-type(4) {
  animation-delay: 2s;
}
.logo > *:nth-of-type(5) {
  animation-delay: 2.1s;
}
.logo > *:nth-of-type(6) {
  animation-delay: 2.2s;
}
@keyframes appear {
  from {
    font-size: 0em;
  }
  to {
    font-size: 1em;
  }
}
.blink {
  font-size: 1.5em;
  font-weight: 400;
  display: inline-block;
  visibility: visible;
  width: auto;
  color: #4ec7b0;

  animation-name: flash;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

/* SLider Dots */

.dots {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: #ced1d5;
  opacity: 0.4;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #4ec7b0;
  opacity: 1;
}

/* Audio  button */

.icon-container {
  width: 19rem;
}
.my-icon {
  color: #ced1d5;
  font-size: 3rem;
  text-align: left;
  margin-left: 4rem;
}

.music {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  margin-right: 4rem;
  width: 19rem;
  height: 8.5rem;
}

.music-icon {
  font-size: 2.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 4.6rem;
  height: 2.3rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ced1d5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.7rem;
  width: 1.7rem;
  left: 0.3rem;
  bottom: 0.3rem;
  background-color: #0a192f;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #4ec7b0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4ec7b0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(2.4rem);
  -ms-transform: translateX(2.4rem);
  transform: translateX(2.4rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 3.4rem;
}

.slider.round:before {
  border-radius: 50%;
}

/* left and right fixed */

.left-oriented-ul a {
  color: #ced1d5;
  font-size: 2.3rem;
  transition: 0.5s all;
}
.fixed-logo {
  transition: 0.3s all;
}
.fixed-logo:hover {
  color: #4ec7b0;
  transform: translateY(-0.5rem);
}

.oriented-ul {
  position: fixed;

  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  -webkit-box-align: center;
  align-items: center;

  margin: 0px;
  padding: 0px;
  list-style: none;
  z-index: 999;
}
.left-oriented-ul {
  gap: 3.5rem;
  bottom: 0;
  left: 2%;
}
.right-oriented-ul {
  gap: 2rem;
  bottom: 0;
  right: 0;
  margin-right: -7rem;
}
.right-oriented-ul a {
  color: #ced1d5;
  font-size: 1.4rem;
  transition: 0.5s all;
}
.mail-anchor {
  text-decoration: none;
}
.rotate {
  transform: rotate(90deg);
  margin-bottom: 12rem;
  z-index: 999;
  transition: 0.5s all;
}
.rotate:hover {
  color: #4ec7b0;
  transform: translateY(-0.5rem) rotate(90deg);
}
.oriented-ul::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: white;
}
